@font-face {
    font-family: 'Pusab';
    src: url('./Assets/PUSAB___.otf');
}
:root {
    --main-color : rgb(0,177,255);
    --highlight-color : rgb(0,238,255);
    --shadow-color : rgb(0,101,237);
    --text-color : rgb(183, 255, 249);
    --screenheight: calc(100vh / 1px); /* screen height in pixels */
}
* {scroll-behavior: smooth;
    font-family: 'consolas';
}



    
body {
    margin : 0;
    padding : 0;
    width : 100vw;
    max-width: 100vw;
    overflow-x : hidden;
    background-color: black;
    display: flex;
    height : auto;
    min-height : 1600px;
    scroll-behavior:auto;
}
.button-language {
    position : fixed;
    height : 6vh;
    width : 6vh;
    bottom : 2vh;
    left : 2vh;
    z-index : 2;
    display : grid;
    place-content: center;
    align-content : center;
    border-radius : 1vw;
    background-color : rgba(0,0,0,0.7);
    background : linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0%, rgba(1, 14, 61, 0.6) 100%);
    border : 1px solid var(--highlight-color);
    color : var(--text-color);
    cursor : pointer;
    user-select: none;
    transition : transform 0.5s;
}
.button-language:hover {
    background : linear-gradient(0deg,rgba(3, 180, 230, .6) 0%, rgba(0, 200, 255, .6) 100%);
    transform : translateY(1vh);
}
.dropdown {
    overflow-y : scroll;
    overflow-x : hidden;
    position : fixed;
    width : 10vw;
    height : 0px;
    background : rgb(0,0,0,0.9);
    border-radius : 1vh;
    z-index : 3;
    color : white;
    padding : 0;
    display : grid;
    place-items: center;
    transition : height 0.5s;
}
.dropdown::-webkit-scrollbar {
    background : transparent;
        width : 2px;
}
.dropdown::-webkit-scrollbar-thumb {
    background : rgba(120,120,140);
    border-radius : 15vw;
    width : 2px;
}
.dropdown::-webkit-scrollbar-track {
    background : transparent;
    width : 2px;
}
.dropdown-item {
    width : 100%;
    text-align: center;
    height : clamp(10px, auto, 20px);
    padding-top : 0.5vh;
    padding-bottom : 0.5vh;
    cursor : pointer;
    margin : 0;
}
.dropdown-label {
    width : 100%;
    text-align: center;
    height : auto;
    padding-top : 0.5vh;
    padding-bottom : 0.5vh;
    cursor :initial;
    margin : 0;
    user-select: none;
    color : var(--main-color);
}
#language-select-dropdown {
    left : 2vh;
    bottom : 9vh;
}
.dropdown-item:hover {
    background : rgba(70,50,80,0.5);
}

.navbar {
    height : 0;
    width : 100vw;
    background-color: rgba(0,0,0,0.5);
    position : fixed;
    z-index: 2;
    transition : height 0.5s;
    overflow: hidden;
    display : flex;
    align-items: center;
    color : var(--highlight-color);
}
.navbar-item {
    overflow : hidden;
    font-size : 1.5rem;
    text-align: center;
    display : flex;
    place-items: center;
    width : 10vw;
    height : 100%;
    right : 0;
    font-family : 'consolas';
    justify-content: center;
    margin : 0;
    cursor : pointer;
    padding-left : 1vw;
    padding-right : 1vw;
    transition : background-color 0.15s ease-out;
}
.navbar-item:hover {
    filter : brightness(80%);
    background : rgba(0,0,0,0.5);
}
.navbar-item > * {
    margin : 0.5vw;
}
.navbar-home {
    display : flex;
    width : 15vw;
    height : inherit;
    text-align: center;
    justify-items : center;
    align-items : center;
    font-family : 'consolas';
    font-size : 2rem;
    cursor : pointer;
    overflow : hidden;
}
.navbar-home-icon {
    width : 3vw;
    height: 3vw;
}
.navbar-home:hover {
    filter : brightness(80%);
    background : rgba(0,0,0,0.5);
}
.navbar-container {
    overflow : hidden;
    position : fixed;
    right : 1vw;
    width : 80vw;
    height : inherit;
    display : flex;
    justify-content: right;
    padding : 0;
}
.navbar-home > * {
    margin : auto;
}


.homepage-wrapper {
    background-color: transparent;
    height : 100vh;
    left: 0;
    width : inherit;
    position : absolute;
    z-index: 0;
    padding: 0;
    backdrop-filter: blur(1px);
    background-blend-mode: screen;
    display : flex;
}
.homepage-section {
    width : 50%;
    height : 100%;
    margin : auto;
    display : grid;
    justify-content: center;
    align-content: center;
}
.homepage-section > * {
    margin-top : 3vw;
    margin-bottom : 3vw;
}
#homepage-bg-wrapper {
    width : inherit;
    height : 100%;
    margin : 0;
    white-space : nowrap;
    padding : 0;
    position : fixed;
    top : 0;
    left : px;
    z-index: -2;
    padding: 0;
    
}
#homepage-video {
    width : calc(32vw + 1px);
    height : calc(18vw + 1px);
    border : 0;
    padding : 0;
    margin: auto;
    border : 4px double var(--main-color);
    background : linear-gradient(0deg,rgba(0, 0, 0, .8) 0%, rgba(1, 14, 61, .8) 100%);
}
#video {
    width : 32vw;
    height : 18vw;
    border : 0;
    margin : auto;
    padding : 0;
    display : flex;
    align-content: center;
    align-items: center;
}
#background {
    position : absolute;
    top : 0;
    left : 0;
    height : inherit;
    width : 100%;
    z-index : -2;
    background-blend-mode : overlay;
    background : none;
    transition : transform .5s;
    margin : 0;
    background-position : 0 0;
    background-repeat : repeat; 
    animation : loopBackground 120s linear infinite;
}

@keyframes loopBackground {
    0% {
        background-position : 0 0;
    }
    100% {
        background-position : -10000px 0;
    }
}


#timer-wrapper {
    position : relative;
    width : 100%;
    height : 4rem;
    display : flex;
    justify-items: center;
    align-items : center;
    text-align: center;
    margin-bottom: 1rem;
    margin-top : 0;
    padding-top : 1rem;
}

#timer {
    margin : auto;
    width : 22rem;
    height : 4rem;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 4rem;
    background-color : rgba(10,10,20, 0.6);
    border-radius : 0.66rem;
    color : white;
    font-family : pusab;
    animation : timerLoadAnimation ease-out 1s;
    user-select: none;
}
@keyframes timerLoadAnimation {
    0% {
        opacity : 0;
        scale : 0.66;
    }
    66% {
    }
    80% {
    }
    100% {
        opacity : 1;
        scale : 1;
    }
}

#message {
    height : 8rem;
    overflow: show;
    width : auto;
    text-align: center;
    display : grid;
    place-items: center;
    justify-items: center;
    color : white;
    gap : 0;
    margin : 0;
    padding : 0;
    line-height: 2rem;
    font-family : 'consolas';
}
.message-main {
    height : 4vh;
    margin: 0;
    padding : 0;
    font-size : 4vh;
    animation : messageLoadAnimation ease-out .5s;
}
.message-sub {
    transform : translateY(-0.5rem);
    height : 2rem;
    bottom : 2vh;
    margin : 0;
    padding : 0;
    animation : messageLoadAnimation ease-out .6s;
    overflow: show;
}
@keyframes messageLoadAnimation {
    0% {
        opacity : 0;
        scale : 0.5;
    }
    60% {
        opacity : .6;
        scale : 1.1;
    }
    85% {
        opacity : 1;
        scale : 0.95;
    }
    100% {
        scale : 1;
    }
}

#themes-wrapper {
    height : auto;
    width : 100%;
    display : grid;
    justify-items : center;
    align-items: center;
    user-select: none;
}
.themes-label {
    padding : 0;
    margin : 0rem;
    height : auto;
    width : auto;
    font-size : 1rem;
    color : white;
    animation : themesLabelLoadAnim ease-out 1s;
    font-family : 'Helvetica';
}
@keyframes themesLabelLoadAnim {
    0% {
        opacity : 0;
        scale : 0.8;
    }
    40% {
        opacity : 1;
    }
    80% {
        scale : 1.1;
    }
    100% {
        scale : 1;
    }
}
.main-theme {
    width : 260px;
    height : 60px;
    border-radius : 0.33rem;
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color : rgba(10,10,20, 0.6);
    color : white;
    font-size : 2rem;
    animation : themesLoadAnim ease-out 1s;
    font-family : pusab;
    margin-top : 0;
    
    text-shadow: 0px 0px 19px rgba(255,255,255,0.25);
}
#main-theme-wrapper {
    height : 6rem;
    width : auto;
    display : grid;
    align-items: center;
    justify-items: center;
    margin : 0;
    margin-bottom : 1rem;
}
.sub-theme {
    width : 200px;
    height : 40px;
    border-radius : 0.25rem;
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 20px;
    background-color : rgb(10,10,20, 0.6);
    color : white;
    font-size : 1.25rem;
    animation : themesLoadAnim ease-out 1s;
    font-family : pusab;
    overflow : hidden;
    
    text-shadow: 0px 0px 19px rgba(255,255,255,0.25);
}
.sub-theme:nth-of-type(1) {animation-delay : -0.2s;}
.sub-theme:nth-of-type(2) {animation-delay : -0.1s;}
.sub-theme:nth-of-type(3) {animation-delay : -0.3s;}
@keyframes themesLoadAnim {
    0% {
        opacity : 0;
        transform : translateX(10px);
    }
    70% {
        transform : translateX(-3px);
    }
    100% {
        
    }
}
#sub-theme-wrapper {
    height : 4rem;
    width : auto;
    display : grid;
    align-items : center;
    justify-items : center;
    text-align: center;
    padding : 0;
    margin : 0;
}

.wrapper {
    width : 100%;
    height : 0;
    display : flex;
    overflow : hidden;
    justify-content: center;
    align-items : center;
    transition : height 0.5s;
}

#buttons-wrapper {
    height : auto;
    width : 50%;
    margin : auto;
    display : flex;
    justify-content: center;
    row-gap : 0px;
    flex-wrap : wrap;
}
.buttons-wrapper-row {
    width : auto;
    height : 60px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.navigation-button {
    width : 22vw;
    height : 6vh;
    margin : 30px;
    font-size : 2vh;
    border-radius : 0.33rem;
    border : 2px solid var(--highlight-color);
    background : linear-gradient(0deg,rgba(4, 8, 26, .5) 0%, rgba(5, 11, 27, .5) 100%);
    color : rgb(212,255,255);
    transition : transform 0.3s,
    background-linear-gradient 0.3s;
    font-family: "source code pro";
    
    box-shadow: 0px 0px 15px 15px rgba(86,255,255, 0.06),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.06);
    
    text-shadow: 0px 0px 19px rgba(255,255,255,0.5);
    animation : buttonSectionLoadAnim ease-out 1s;
}
@keyframes buttonSectionLoadAnim {
    0% {
        transform : translateY(10px);
        opacity : 0;
    }
    100% {
        transform : translateY(0);
        opacity : 1;
    }
}
.navigation-button:hover {
    cursor : pointer;
    transform : translateY(5px);
    background : linear-gradient(0deg,rgba(3, 180, 230, .6) 0%, rgba(0, 200, 255, .6) 100%);
    
    box-shadow: 0px 0px 20px 15px rgba(86,255,255, 0.08),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.08);
}


.about-wrapper {
    width : 100vw;
    height : clamp(1400px, 150vh, 150vh);
    position : absolute;
    top : 100vh;
    overflow : hidden;
    background : linear-gradient(0deg,rgba(0, 6, 24, .6) 0%, rgba(0, 6, 24, .6) 100%);
    display : grid;
    place-content: top;
    justify-content: center;
    backdrop-filter: blur(20px);
    padding-top : 0;
    flex-wrap: nowrap;
    word-wrap : break-word;
}
.about-container {
    overflow-x: hidden;
    top : 6vh;
    display : flex;
    place-content: center;
    justify-content: center;
    width : 90vw;
    height : clamp(1200px, 140vh 140vh);
}
.about-container::-webkit-scrollbar {
    width : 0;
    display : none;
}
.about-container::-webkit-scrollbar-track {
    width : 0;
    display : none;
}
.about-container::-webkit-scrollbar-button {
    width : 0;
    display : none;
}
.about-container::-webkit-scrollbar-thumb {
    width : 0;
    display : none;
}
.about-container::-webkit-scrollbar-track-piece {
    width : 0;
    display : none;
}
.info-wrapper {
    padding-top : 10vh;
    width : inherit;
    height : 10vh;
    display : grid;
    float : left;
    align-content: flex-start;
    justify-content: center;
    top : 0px;
    position : absolute;
    transition : left ease-in-out 1s;
}
#info {
    left : 0;
}
#prizes {
    left : 100vw;
}
#rules {
    left : 200vw;
}
#judges {
    left : 300vw;
}
#scoring {
    left : 400vw;
}
.carousel {
    top : 6vw;
    left : 0;
    width : 100vw;
    position : absolute;
    height : 54vw;
    display : grid;
    grid-auto-flow : column;
    transition : left ease-in-out 1s;
}
.carousel-button-wrapper {
    position : relative;
    top : 6vw;
    width : 90vw;
    height : 8vw;
    display : flex;
    grid-auto-flow : row;
    place-content : center;
    justify-content : center;
}
.carousel-button {
    width : clamp(80px, 10vw, 12vw);
    height : clamp(40px, 2vw, 60px);
    margin : 1vw;
    font-size : clamp(0.2rem, 1rem, 1.5rem);
    border : 2px solid var(--highlight-color);
    border-radius : 0.33rem;
    background : linear-gradient(0deg,rgba(4, 8, 26, .5) 0%, rgba(5, 11, 27, .5) 100%);
    color : rgb(212,255,255);
    transition : transform 0.3s,
    background-linear-gradient 0.5s;
    font-family: "source code pro";
    z-index: 2;
    box-shadow: 0px 0px 15px 15px rgba(86,255,255, 0.06),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.06);
    
    text-shadow: 0px 0px 19px rgba(255,255,255,0.5);
}
.carousel-button:hover {
    cursor : pointer;
    transform : translateY(5px);
    background : linear-gradient(0deg,rgba(3, 180, 230, .6) 0%, rgba(0, 200, 255, .6) 100%);
    
    box-shadow: 0px 0px 20px 15px rgba(86,255,255, 0.08),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.08);
}



.section-container {
    height : auto;
    width : 80vw;
    margin : auto;
    border-radius : 30px;
    border : 3px solid var(--highlight-color);
    border-top : 3px transparent;
    border-bottom : 3px transparent;
}

.section-header {
    font-size : 3rem;
    color : white;
    text-align: center;
    font-family : 'pusab';
    text-decoration: underline;
    text-shadow: 0px 0px 15px rgba(69, 243, 255, 0.1);
}
.section-subheader {
    font-size : 1.2rem;
    color : var(--main-color);
    text-align: center;
    font-family : Helvetica;
    text-shadow: 0px 0px 33px rgb(97, 250, 255, 0.15);
}
.section-separator {
    height : 8rem;
}
.section-content {
    text-align : center;
    color : var(--text-color);
    margin-left : 8%;
    margin-right : 8%;
    line-height: 1.5rem;
    text-shadow: 0px 0px 33px rgb(183, 255, 249, 0.2);
    font-family : 'consolas';
}
.section-list {
    text-align : center;
    color : var(--text-color);
    margin-left : 8%;
    margin-right : 8%;
    font-size : 1.3rem;
    line-height: 2.1rem;
    text-shadow: 0px 0px 33px rgb(183, 255, 249, 0.2);
    font-family : 'consolas';
}
.section-content a {
    color : var(--highlight-color);
    text-decoration : underline;
}
hr {
    width : 85%;
    border-radius : 100%;
    border-color : var(--highlight-color);
}

.stafflist-wrapper {
    width : inherit;
    flex-wrap : wrap;
    height : auto;
    display : flex;
    align-items: center;
    justify-content: center;
}
.userwrapper-label {
    width : 100vw;
    height : auto;
    text-align: center;
    color : white;
    font-family : 'pusab';
    font-size : 4rem;
    line-height: 2rem;
    margin-top: 0;
    padding : 0;
    text-decoration: underline;
    user-select: none;
}
.stafflist-label {
    text-align: center;
    color : white;
    font-family : 'pusab';
    font-size : 2rem;
    text-decoration: underline;
    user-select: none;
}

.user-container {
    width : 8rem;
    height : 14rem;
    border : 2px solid var(--text-color);
    border-radius : 6px;
    margin : 1rem;
    display : grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}
.user-label {
    color : white;
    text-align: center;
    margin-bottom: 0;
    font-family : Helvetica;
    user-select: none;
}
.user-icon {
    width : 6.1rem;
    height : 6.1rem;
    border-radius : 50%;
    border : 3px solid var(--highlight-color);
}
.user-socials-wrapper {
    width : 8rem;
    height : 1rem;
    display : flex;
    align-items: center;
    justify-content: center;
}
.user-socials {
    width : 1rem;
    height : 1rem;
    margin : auto;
    z-index : 3;
    cursor : pointer;
    transition : filter 0.2s;
}
.user-socials:hover {
    filter : brightness(60%);
}

.grid {
    width : calc(95vh + 1px);
    height : calc(85vh + 1px);
    margin : auto;
    display : grid;
    font-family : 'consolas';
    color : var(--text-color);
    position: absolute;
    top : 100px;
}
.grid-row {
    height : 15.8vh;
    width : 100%;
    display : flex;  
}
.grid-cell {
    width : 20%;
    height : 16vh;
    border : 1px solid var(--highlight-color);
    place-content : center;
    text-align: center;
    justify-content: center;
    font-size : 1.3vh;
    overflow : hidden;
    background : linear-gradient(0deg,rgba(0, 0, 0, .6) 0%, rgba(1, 14, 61, .6) 100%);
}

.grid-header {
    color : var(--highlight-color);
    font-size : 2vh;
}
.grid-number {
    font-size : 4vh;
    color : var(--highlight-color);
}

#searchbar-wrapper {
    width : 90vw;
    padding-left : 5vw;
    padding-right: 5vw;
    height : 16vh;
    display : flex;
    align-content: center;
    justify-content: center;
    grid-auto-flow : column;
}
#searchbar {
    width : 68vw;
    height: 4.5vh;
    text-align : center;
    background-color : transparent;
    border : 0;
    user-select: all;
    z-index: 2;
    border-radius : 1vw;
    background : rgba(60,60,85, 0.5);
    color : white;
    font-size : 2vw;
}
#searchbar:focus {
    outline: none;
}
.entries-button {
    border-radius : 1vh;
    border : 0.25vh solid var(--highlight-color);
    background : linear-gradient(0deg,rgba(4, 8, 26, .5) 0%, rgba(5, 11, 27, .5) 100%);
    height : 5vh;
    width: 5vh;
    color : var(--text-color);
    display : flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin : auto;
    cursor : pointer;
    user-select: none;
    transition : transform 0.5s;
    font-size : 1vw;
}
.entries-button:hover {
    cursor : pointer;
    transform : translateY(5px);
    background : linear-gradient(0deg,rgba(3, 180, 230, .6) 0%, rgba(0, 200, 255, .6) 100%);
    
    box-shadow: 0px 0px 20px 15px rgba(86,255,255, 0.08),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.08);
}

#button-filter {
    width : 8vw;
}
.searchbar-container {
    width : 70vw;
    display : flex;
    height : 6vh;
    padding : 0;
    background-color: transparent;
    user-select: contain;
    font-family : 'consolas';
}

#entries-wrapper {
    width: 100vw;
    height : auto;
    margin : 0;
    padding: 0;
    position : absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    top : 16vh;
}
.entry-row {
    width : 95vw;
    height : 32vh;
    display : flex;
    align-items: center;
    justify-content: center;
}
.entry-container {
    width : 16vw;
    height : 18vh;
    background : rgb(10,10,30);
    margin: auto;
    display : grid;
    align-items: center;
    align-content: center;
    place-items: center;
    color : var(--text-color);
    border-radius : 1vw;
    border-left : 0.15vw solid var(--shadow-color);
    border-right: 0.15vw solid var(--shadow-color);
    user-select: none;
    cursor : pointer;
    animation : entryAppear 0.5s ease-in-out;
    transition : transform 0.5s ease-in-out;
    opacity : 0;
    animation-fill-mode: forwards;
}
.entry-container-anim {
    animation : entryclick 2s ease-in;
}
@keyframes entryclick {
    0% {
        filter : saturate(100%) brightness(100%);
    }
    30% {
        filter : saturate(50%) brightness(300%);
    }
    100% {
        filter : saturate(100%) brightness(100%);
    }
}
.entry-container:hover {
    filter : brightness(120%);
    transform : translateY(1vh);
}
@keyframes entryAppear {
    0% {
        opacity : 0;
        transform : translateY(0.3vh);
    }
    100% {
        opacity : 1;
        animation-fill-mode : initial;
    }
}
.entry-levelname {
    font-size : 2.25vh;
    width : 16vw;
    text-align: center;
    padding-bottom : 1vh;
    position : absolute;
    transform : translateY(-3vh);
}
.entry-creatorlist {
    color : var(--highlight-color);
    font-size : 1.65vh;
    transform : translateY(1vh);
    position : absolute;
}
.entry-levelid {
    font-size : 1vh;
    transform : translateY(8vh);
    color : rgb(72, 98, 116);
}
.entry-score {
    transform : translateY(3vh);
    color : var(--main-color);
    font-size: 1.5vh;
}

.first-place {
    border-left : 0.25vw solid rgb(255, 187, 0);
    border-right: 0.25vw solid rgb(255, 187, 0);
    box-shadow: 0px 0px 20px 15px rgba(255, 187, 0, 0.08),
    inset 0px 0px 50px 15px rgba(255, 187, 0, 0.08);
}
.second-place {
    border-left : 0.25vw solid rgb(174, 236, 255);
    border-right: 0.25vw solid rgb(174, 236, 255);
    box-shadow: 0px 0px 20px 15px rgba(174, 236, 255, 0.08),
    inset 0px 0px 50px 15px rgba(174, 236, 255, 0.08);
}
.third-place {
    border-left : 0.25vw solid rgb(190, 90, 8);
    border-right: 0.25vw solid rgb(190, 90, 8);
    box-shadow: 0px 0px 20px 15px rgba(190, 90, 8, 0.08),
    inset 0px 0px 50px 15px rgba(190, 90, 8, 0.08);
}
.fourth-fifth-place {
    border-left : 0.25vw solid rgb(0, 162, 255);
    border-right: 0.25vw solid rgb(0, 162, 255);
    box-shadow: 0px 0px 20px 15px rgba(62, 245, 132, 0.08),
    inset 0px 0px 50px 15px rgba(62, 245, 132, 0.08);
}
.winner {
    border-left : 0.25vw solid rgb(128, 0, 128);
    border-right: 0.25vw solid rgb(128, 0, 128);
    box-shadow: 0px 0px 20px 15px rgba(128, 0, 128, 0.08),
    inset 0px 0px 50px 15px rgba(128, 0, 128, 0.08);
}
.disqualified {
    border-left : 0.25vw solid red;
    border-right: 0.25vw solid red;
}

#modal-copiedNotif {
    width : 60vw;
    height : 60vh;
    position : fixed;
    border-radius: 2vw;
    background : rgba(0,0,10,0.5);
    z-index : 4;
    font-family : 'pusab';
    justify-content: center;
    align-items: center;
    left : calc(50vw - 30vw);
    top : calc(50vh - 30vh);
    font-size : 6vw;
    color : white;
    display: none;
    transition : filter 0.75s;
    user-select: none;
}
#modal-notif-blur {
    z-index: 3;
    width : 100vw;
    height : 100vh;
    position: fixed;
    backdrop-filter: blur(10px);
    display: none;
    transition : filter 0.75s;
    user-select: none;
}
.show {
    transition : opacity 0.75s;
    opacity : 1;
}

#filter-dropdown {
    position : absolute;
    top : 12vh;
    right : 5.5vw;
}

#section-left {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80vh;
    width : 35vw;
    padding-top : 10vh;
    padding-bottom : 10vh;
}
#section-right {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width : 65%;
}
#showcase-container {
    width : 30vw;
    height : 15vh;
    border : 0.25vh solid var(--highlight-color);
}
#info-container {
    width : 33vw;
    height : 20vh;
    display : flex;
    align-content : center;
    flex-wrap : wrap;
    background : rgba(10,10,20, 0.6);
    border-radius : 2vh;
    border : 0.25vh solid white;
}
#info-finalscore-container {
    height : 20vh;
    width : 20vw;
    display : flex;
    align-content : center;
    flex-wrap : wrap;
    background : rgba(10,10,20,0.6);
    border-radius : 2vh;
    border : 0.25vh solid white;
    user-select: none;
}
#info-finalscore-label {
    margin : auto;
    display : inline;
    width : 35vw;
    text-align: center;
    color : var(--text-color);
    font-family : 'consolas';
    font-size : 3vh;
}
#finalscore {
    margin : auto;
    display : inline;
    width : 35vw;
    text-align: center;
    color : var(--text-color);
    font-family : 'pusab';
    font-size : 5vh;
    color : white;
}
#placement {
    margin : auto;
    display : inline;
    width : 35vw;
    text-align: center;
    color : var(--text-color);
    font-family : 'pusab';
    font-size : 3vh;
    color : var(--highlight-color);
}
.entry-info {
    margin : auto;
    display : inline;
    width : 35vw;
    text-align: center;
    color : var(--text-color);
    font-family : 'consolas';
}
#levelname {
    font-size : 5vh;
    user-select: none;
}
#creatorslist {
    font-size : 2vh;
    user-select: none;
}
#levelid {
    font-size : 1.15vh;
    color : rgb(117, 136, 134);
}
.entry-data-wrapper {
    width : 60vw;
    height : 30vh;
    background : rgba(10,10,20, 0.6);
    margin: auto;
    overflow-y : scroll;
    overflow-x : hidden;
    border-radius : 0.5vw;
    display : grid;
    align-items : center;
    justify-items: center;
    border : 0.25vh solid white;
}
.entry-data-wrapper::-webkit-scrollbar {
    width : 0.25vw;
}
.entry-data-wrapper::-webkit-scrollbar-thumb {
    background : rgba(200,200,200, 0.5);
    border-radius : 100vw;
    width : 0.25vw;
}

.scores-label {
    padding-left : 13.25vw;
    padding-right : 3.15vw;
    width : 42.85vw;
    height : 6vh;
    display : flex;
    overflow : hidden;
    margin-top : 0.5vh;
    margin-bottom : 0.5vh;
    border-radius : 2vw;
    align-content: center;
    justify-content: center;
    color : white;
    font-size : 1.4vh;
}
.score-label {
    width : 6vw;
    overflow: hidden;
    margin : auto;
    text-align: center;
}

.score-container {
    width : 55vw;
    height : 6vh;
    display : flex;
    overflow : hidden;
    margin-top : 0.5vh;
    margin-bottom : 0.5vh;
    background : rgba(30,30,40, 0.5);
    border-radius : 2vw;
    user-select: none;
}
.scores-list-container {
    width : 100%;
    display : grid;
}
.scoresList {
    width : 97.5%;
    height : 2vh;
    display : inline-flex;
    color : var(--color-text);
}
.scoresListActual {
    width : 97.5%;
    height : 2vh;
    display : inline-flex;
    color : var(--color-text);
}
.score {
    color : gray;
    font-family : 'consolas';
    font-size : 1vh;
    margin : auto;
    width : 2vw;
    transform : translateY();
    text-align: center;
}
.scores-list-dividers {
    width : 37vw;
    padding-left : 3vw;
    display : flex;
    transform : translateY(-3vh);
    font-size : 3vh;
    font-family : 'consolas'
}
.score-divider {
    color : rgb(0, 255, 157);
    margin : auto;
}
.scoreActual {
    color : var(--text-color);
    font-size : 2.5vh;
    width : 2vw;
    text-align: center;
    font-family : 'pusab';
    transform : translateY(-0.5vh);
    margin : auto;
}
.comment-container::-webkit-scrollbar {
    display: none;
}
.comment-icon-container {
    width : 10%;
    height: auto;
    display : grid;
    align-items: center;
    justify-items: center;
}
.judge-icon-container {
    width : 12vw;
    height: 6vh;
    display : flex;
    align-items: center;
    justify-items: center;
}
.judge-icon {
    width : 4.5vh;
    height : 4.5vh;
    border-radius : 100%;
    margin: auto;
    user-select: none;
}
.judge-name {
    color : var(--text-color);
    width : 7vw;
    height : 6vh;
    align-content: center;
    padding-left : 2vw;
    text-align: left;
}
.comment-container {
    width : 55vw;
    min-height: 12vh;
    height : auto;
    display : flex;
    overflow : hidden;
    margin-top : 1.5vh;
    margin-bottom : 1.5vh;
    background : rgba(30,30,40, 0.5);
    border-radius : 2vw;
}
.judge-comment {
    width : 85%;
    color : var(--text-color);
    padding : 2vw;
    font-family : 'consolas';
    text-align: left;
    font-size : 1.8vh;
    align-content: center;
    justify-content: center;
    line-height: 3vh;
}

#entry-showcase {
    width : 31vw;
    height : 28vh;
    border : 0.25vh solid white;
    overflow : hidden;
    margin : auto;
}
#video-showcase {
    height : 28vh;
    width : 31vw;
}


#button-back {
    width : 6vw;
    height : 4vh;
    border : 0.25vh solid var(--highlight-color);
    position : absolute;
    background : linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0%, rgba(1, 14, 61, 0.6) 100%);
    align-content: center;
    text-align: center;
    font-family : 'pusab';
    color : var(--text-color);
    border-radius : 1vh;
    transform : translate(1vw, 1vh);
    transition : transform 0.5s ease-in-out;
}
#button-back:hover {
    transform : translate(1vw, 1.3vh);
    background : linear-gradient(0deg,rgba(3, 180, 230, .6) 0%, rgba(0, 200, 255, .6) 100%);
    
    box-shadow: 0px 0px 20px 15px rgba(86,255,255, 0.08),
    inset 0px 0px 50px 15px rgba(86,255,255, 0.08);
    cursor : pointer;
}
.hidden {
    display : none !important;
    width : 0 !important;
    height: 0 !important;
}

#modal-failed {
    width : 100vw;
    height : 100vh;
    z-index : 4;
    background : black;
    position : fixed;
    display : grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#modal-failed > p {
    color : white;
    font-size : 5rem;
    font-family : 'pusab';
}
#modal-failed > a {
    color : white;
    font-family : 'pusab';
    font-size : 2rem;
}

#mobile-blocker {
    display : none;
}

.nocomment {
    color : rgb(152, 190, 187);
    font-style : italic;
}