@media (max-width : 600px) {

.navbar-container {
    width : 60vw;
    float : right;
}
.navbar-home {
    display : flex;
    width : 40vw;
    height : inherit;
    text-align: start;
    font-family : 'consolas';
    font-size : 1.3rem;
    cursor : pointer;
    overflow : hidden;
    margin-left : 0;
}
.navbar-home > p {
    text-align: start;
    margin-left : 1vw;
}
.navbar-home > img {
    margin : 0;
}
.navbar-home-icon {
    width : 12vw;
    height: 12vw;
}

#message {
    height : 8rem;
    line-height: 2rem;
    font-size : 4vw;
}
.message-main {
    height : 2vw;
    font-size : 7vw;
}
.message-sub {
    height : 1vw;
    margin : 0;
}
.homepage-section {
    width : 100%;
    height : 58vh;
    margin : 0;
    display : grid;
    position : absolute;
    justify-content: center;
    align-content: center;
}
#homepage-section-right {
    top : 58vh;
}
.homepage-section > * {
    margin-top : 0;
    margin-bottom : 0;
}
#homepage-video {
    width : calc(70vw + 2px);
    height : calc(20vh + 2px);
    border : 2px double var(--main-color);
    background : linear-gradient(0deg,rgba(0, 0, 0, .8) 0%, rgba(1, 14, 61, .8) 100%);
    transform : translateY(6vh);
    margin : auto;
}
#video {
    width : 70vw;
    height : 20vh;
}
#title-wrapper {
    width : 0;
    height: 0;
    overflow: hidden;
    display: none;
}
#title-text {
    width : 0;
}

#buttons-wrapper {
    transform : translateY(5vh);
    height : inherit;
    width : 90vw;
    margin : 0;
    display : flex;
    justify-content: center;
    row-gap : 0px;
    flex-wrap : wrap;
}
.navigation-button {
    height : 50px;
    width : 65vw;
    font-size : clamp(0.5rem, 1rem, 2rem);
    margin : 0;
}
.about-wrapper {
    height : 160vh;
    top : 125vh;
}
.about-container {
    height : 155vh;
}


.carousel {
    overflow : hidden;
    height : inherit;
}
.carousel-button-wrapper {
    top : 6vh;
    width : 95vw;
    height : 8vh;
}
.carousel-button {
    width : 16vw;
    height : 4vh;
    font-size : 2.5vw;
    word-wrap : normal;
}
.section-header {
    font-size : 2.5rem;
}
.section-content {
    font-size : 1.75vh;
}
.grid-cell {
    font-size : 1vh;
    background-color : rgba(0,0,0,0.5);
}
.grid-number {
    font-size : 5vh;
}
.grid-header {
    font-size : 1vh;
}
}

@media (max-width : 1200px) {
    .entry-levelname {
        font-size : 2.5vh;
        width : 70vw;
        padding-bottom : 0.5vh;
        transform : translateY(-3vh);
    }
    .entry-creatorlist {
        font-size : 2.5vh;
        transform : translateY(0.5vh);
    }
    .entry-levelid {
        font-size : 1.25vh;
        transform : translateY(6vh);
    }
    .entry-score {
        transform : translateY(2.5vh);
        font-size: 1.25vh;
    }
    .entry-container {
        width : 80vw;
        height : 13vh;
        border-radius : 1vh;
        border-left : 0.25vh solid var(--main-color);
        border-right: 0.25vh solid var(--main-color);
    }
    .first-place {
        border-left : 0.25vw solid rgb(255, 187, 0);
        border-right: 0.25vw solid rgb(255, 187, 0);
        box-shadow: 0px 0px 20px 15px rgba(255, 187, 0, 0.08),
        inset 0px 0px 50px 15px rgba(255, 187, 0, 0.08);
    }
    .second-place {
        border-left : 0.25vw solid rgb(174, 236, 255);
        border-right: 0.25vw solid rgb(174, 236, 255);
        box-shadow: 0px 0px 20px 15px rgba(174, 236, 255, 0.08),
        inset 0px 0px 50px 15px rgba(174, 236, 255, 0.08);
    }
    .third-place {
        border-left : 0.25vw solid rgb(190, 90, 8);
        border-right: 0.25vw solid rgb(190, 90, 8);
        box-shadow: 0px 0px 20px 15px rgba(190, 90, 8, 0.08),
        inset 0px 0px 50px 15px rgba(190, 90, 8, 0.08);
    }
    .fourth-fifth-place {
        border-left : 0.25vw solid rgb(0, 162, 255);
        border-right: 0.25vw solid rgb(0, 162, 255);
        box-shadow: 0px 0px 20px 15px rgba(62, 245, 132, 0.08),
        inset 0px 0px 50px 15px rgba(62, 245, 132, 0.08);
    }
    .winner {
        border-left : 0.25vw solid purple;
        border-right: 0.25vw solid rgb(128, 0, 128);
        box-shadow: 0px 0px 20px 15px rgba(128, 0, 128, 0.08),
        inset 0px 0px 50px 15px rgba(128, 0, 128, 0.08);
    }
    .entry-row {
        height : 16vh;
    }


    .searchbar-container {
        width : 60vw;
        height : 6vh;
    }

    #searchbar {
        width : 45vw;
        border-radius : 1vw;
        font-size : 2vh;
        transform : translateX(4vw);
    }

    .entries-button {
        border-radius : 1vh;
        border : 0.25vh solid var(--highlight-color);
        height : 4.5vh;
        width: 4.5vh;
    }
    #button-filter {
        width : 4.5vh;
    }

@media (max-width : 1024px) {

    #mobile-blocker {
    width : 100vw;
    height : 100vh;
    z-index : 4;
    background : black;
    position : fixed;
    display : grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#section-left {
    position : absolute;
    height: 80vh;
    width : 100vw;
}
#section-right {
    position : absolute;
    top : 90vh;
    height: 80vh;
    width : 100vw;
}
#info-container {
    width : 70vw;
    height : 20vh;
    display : flex;
    align-content : center;
    flex-wrap : wrap;
    background : rgba(10,10,20, 0.6);
    border-radius : 2vh;
    border : 0.25vh solid white;
}
.entry-info {
    margin : auto;
    display : inline;
    width : 70vw;
    text-align: center;
    color : var(--text-color);
    font-family : 'consolas';
}
#levelname {
    font-size : 5vh;
    user-select: none;
}
#creatorslist {
    font-size : 2vh;
    user-select: none;
}
#levelid {
    font-size : 1.15vh;
    color : rgb(117, 136, 134);
}
#entry-showcase {
    width : 80vw;
    height : 45vw;
    padding : 0;
}
#video-showcase {
    width : 80vw;
    height : 45vw;
}
#info-finalscore-container {
    height : 18vh;
    width : 80vw;
    display : flex;
    align-content : center;
    flex-wrap : wrap;
    background : rgba(10,10,20,0.6);
    border-radius : 2vh;
    border : 0.25vh solid white;
    user-select: none;
}
#info-finalscore-label {
    margin : auto;
    display : inline;
    width : inherit;
    text-align: center;
    color : var(--text-color);
    font-family : 'consolas';
    font-size : 3vh;
}
#finalscore {
    margin : auto;
    display : inline;
    width : inherit;
    text-align: center;
    color : var(--text-color);
    font-family : 'pusab';
    font-size : 5vh;
    color : white;
}
#placement {
    margin : auto;
    display : inline;
    width : inherit;
    text-align: center;
    color : var(--text-color);
    font-family : 'pusab';
    font-size : 3vh;
    color : var(--highlight-color);
}

.entry-data-wrapper {
    width : 85vw;
    height : 30vh;
    background : rgba(10,10,20, 0.6);
    border-radius : 1vh;
    border : 0.25vh solid white;
}
.entry-data-wrapper::-webkit-scrollbar {
    width : 0.25vw;
}
.entry-data-wrapper::-webkit-scrollbar-thumb {
    background : rgba(200,200,200, 0.5);
    border-radius : 100vw;
    width : 0.25vw;
}

.scores-label {
    padding-left : 2.5vh;
    padding-right : 0;
    width : calc(80vw - 3vh);
    height : 6vh;
    font-size : 1.4vw;
}
.score-label {
    width : 6vw;
    overflow: hidden;
    margin : auto;
    text-align: center;
}

.score-container {
    width : 80vw;
    padding-left : 1vw;
    padding-right : 1vw;
    height : 6vh;
    margin-top : 0.5vh;
    margin-bottom : 0.5vh;
    border-radius : 2vh;
}
.scoresListActual {
    width : calc(80vw - 3vh);
    padding-left : 0;
    padding-right : 0;
    height : 3vh;
}
.scoreActual {
    color : var(--text-color);
    font-size : 2.5vw;
    width : 6vw;
    text-align: center;
    font-family : 'pusab';
    transform : translateY(-0.5vh);
    margin : auto;
}

.scoresList {
    width : calc(80vw - 3vh);
    padding-left : 0;
    height : 2vh;
}
.score {
    width : 6vw;
}
.scores-list-dividers {
    width : 83.5%;
    padding-left : 10%;
    font-size : 2.5vh;
    transform : translateY(-3.5vh);
}
.score-divider {
    width : 6vw;
}
.comment-icon-container {
    width : 10%;
    height: auto;
    display : grid;
    align-items: center;
    justify-items: center;
}
.judge-icon-container {
    width : 2vh;
    padding-left : 0.5vh;
    padding-right : 0.5vh;
    height: 6vh;
    display : flex;
    align-items: center;
    justify-items: center;
}
.judge-icon {
    width : 2.5vh;
    height : 2.5vh;
}
.judge-name {
    width : 0;
    height : 0;
    font-size : 0;
}
.comment-container {
    width : 80vw;
    min-height: 12vh;
    height : auto;
    display : flex;
    overflow : hidden;
    margin-top : 1.5vh;
    margin-bottom : 1.5vh;
    background : rgba(30,30,40, 0.5);
    border-radius : 2vw;
}
.comment-container::-webkit-scrollbar {
    display: none;
}
.judge-comment {
    width : 85%;
    color : var(--text-color);
    padding : 2vw;
    font-family : 'consolas';
    text-align: left;
    font-size : 1.5vh;
    align-content: center;
    justify-content: center;
    line-height: 1.5vh;
}

.dropdown {
    overflow-y : scroll;
    overflow-x : hidden;
    position : fixed;
    width : 30vw;
    height : 0px;
    background : rgb(0,0,0,0.9);
    border-radius : 1vh;
    z-index : 3;
    color : white;
    padding : 0;
    display : grid;
    place-items: center;
    transition : height 0.5s;
}

#button-back {
    width : 12vw;
    height : 4vh;
    z-index: 3;
    position : fixed;
}

}
}