@media (max-width : 1200px) and (min-width : 700px) {
    .homepage-section {
        height : 100vh;
    }




    .navigation-button {
        width : 40vw;
    }
    #buttons-wrapper {
    width : 40vw;
    margin : 0;
    display : flex;
    justify-content: center;
    row-gap : 0px;
    flex-wrap : wrap;
    }
    .about-wrapper {
        height : clamp(1200px, 160vh, 180vh);
        top : 125vh;
    }
    .about-container {
        height : 155vh;
    }

    .section-header {
        font-size : 2.5rem;
    }
    .section-content {
        font-size : 1.75vh;
    }
}
